{% extends 'base.html' %}

{% block content %}
<p>
	<h1>This is the landing page </h1>

	Here a website will be created where certain social and political information about Germany can be displayed 		on a map, namely: 
	<ul>
		<li>Wahlergebnisse</li>
		<li>Kriminalitätsrate</li>
		<li>Ausländeranteil</li>
		<li>Einkommen</li>
		<li>Mietpreis</li>
	</ul>
</p>
<p>
	Tutorials used to create this website are:
	<ul>
		<li> <a href="https://www.youtube.com/watch?v=3JluqTojuME"> Web Development Tutorial for Beginners by 			LearnCode.academy </a> </li>
		<li> <a href = "https://www.youtube.com/watch?v=hrZqiCUx6kg"> HTML Tutorial for Beginners by Clever 			Techie
	</ul> 
</p>
{% endblock %}
